* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #efd6ac;
}

#movieSearch {
  margin: auto;
  background-color: #c44900;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  font-size: 30px;
  margin: 10px;
  padding: 10px;
  background-color: #432534;
  color: white;
}

.input-field {
  font-size: 30px;
  margin: 10px;
}

.result {
  color: #183a37;
  height: calc(100vh - 100px);
}

.error {
  width: 100%;
  height: 100%;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-list {
  margin-left: 60px;
}

.result-el {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;

  &__header {
    font-size: 40px;
    font-weight: bold;
  }

  &__year {
    font-size: 20px;
    font-style: italic;
    color: #04151f;
  }

  &__poster {
    max-height: 100px;
  }
}

.result-pages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  font-size: 30px;
  font-style: bold;
  color: #04151f;

  &__page {
    padding: 10px;
  }
}
