$anim-duration: 0.6s;

@keyframes flip {
  from {
    transform: translate(0, 0) rotateY(0deg);
  }
  to {
    transform: translate(320px, 0) rotateY(180deg);
  }
}

.task1 {
  position: relative;
  width: 100%;
  height: 600px;
}

.level-up {
  z-index: 2;
}

.suit {
  height: 270px;
  width: 270px;
  position: absolute;
  top: 20%;
  left: 10%;
}

.rank {
  font-size: 100px;
  position: absolute;
  top: 10px;
  left: 20px;
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000;
  margin: auto;
  position: absolute;
  bottom: 0;
  left: calc(50% - 320px);
}

.flip-container,
.front,
.front-svg,
.back {
  width: 320px;
  height: 480px;
}

/* flip speed goes here */
.animate {
  transition: $anim-duration;
  transform-style: preserve-3d;
  position: relative;
  animation-name: flip;
  animation-duration: $anim-duration;
  animation-fill-mode: forwards;
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* back, initially hidden pane */
.front {
  transform: rotateY(180deg);
}
