* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #313390;
  color: white;
  padding: 10px;
  font-size: 30px;
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 5;
}

.task2 {
  display: flex;
  flex-direction: column;

  &-text {
    color: #313390;
    font-size: 30px;
    margin: 5%;
  }

  &-pic {
    margin: 2%;
  }
}
