@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.farcry__section {
  background-image: url(../img/BG.png);
  background-size: cover;
  min-height: 100vh;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  width: 70%;
  min-height: 80vh;
  height: 80vh;
  -webkit-box-shadow: 0 23px 57px rgba(0, 0, 0, 0.4);
          box-shadow: 0 23px 57px rgba(0, 0, 0, 0.4);
  background-color: #212534;
}

.nav {
  background-color: #2b3040;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px;
}

.nav-item__name {
  color: #fbfbfb;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.nav-item path {
  fill: #bdc3c7;
}

.nav-item p {
  margin-top: 10px;
  color: #b7bacd;
}

.nav-item--active {
  border-bottom: 2px solid #ffffff;
}

.nav-item--active path {
  fill: #ffffff;
}

.nav-item--active p {
  color: #ffffff;
}

.card-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60vh;
}

.card-left {
  padding: 10px;
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-rating__star {
  margin: auto 5px;
}

.card-right {
  padding: 10px 30px 10px;
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-right__header, .card-right__buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.card-right__description {
  color: #b7bacd;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

.card-right__price-off {
  color: #fedc3f;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.card-right__price-usd {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 32px;
  font-weight: 400;
}

.card-right__btn {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 2px;
  background-color: #13e28d;
  border: none;
  padding: 20px 35px;
}

.card-header {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 32px;
  font-weight: 400;
}

.card-release {
  color: #fdfdfd;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}
/*# sourceMappingURL=hw9_1.css.map */