a {
  display: block;
}

section {
  padding: 10px 0;

  &:nth-child(odd) {
    background-color: mintcream;
  }

  &:nth-child(even) {
    background-color: lightyellow;
  }

  h4,
  label,
  p {
    margin: 5px;
  }

  p {
    color: maroon;
    font-weight: bold;
  }
}

.quizz {
  display: block;
}

.EmpTable {
  border: 1px solid black;

  &__row--header {
    background-color: grey;
    color: white;
  }

  &__column {
    border: 1px solid black;
    padding: 5px;
  }
}
